# Objetos e operadores

Variável é qualquer característica ou atributo que possa ter diferentes
valores quando se observam diferentes indivíduos. Já o termo dado se refere ao valor assumido pela variável quando se examina um indivíduo. 

O R possui diferentes formas de armazenar dados. Em geral, variáveis são entidades usadas para armazenar dados na memória do computador. Uma variável precisa ser associada à um objeto, que determina caracterís-
ticas específicas que irão influenciar o que se pode ou não pode fazer com os dados. Uma variável que for criada como matriz (objeto matriz), não possui as mesmas propriedades de uma variável criada como lista (objeto lista). Não é possível somar uma variável salva como objeto numérico com uma variável salva como objeto texto, já que estes dois objetos não possuem as mesmas propriedades. 

Testes estatísticos específicos são utilizados dependendo se as variá-
veis em questão são contínuas ou categóricas. Diferentemente das variáveis categóricas, as variáveis contínuas são expressas por números com significados em uma escala numérica. 

Os dados podem ser definidos como numéricos (inteiros ou decimais), texto ('string') ou lógicos. Alguns objetos permitem que diferentes tipos de dados sejam armazenados ao mesmo tempo. Outros objetos permitem que apenas um tipo de dado possa ser armazenado.

## Lista

## Dicionário

## Pandas Dataframe

O módulo *pandas* foi desenvolvido em Python para a manipulação e análise de dados. É um pacote destinado para oferecer solução para dados estruturados, tabelas numericas e séries temporais.O nome *pandas* é um acrônimo para **pan**el **da**ta, que no português seria painel de dados.

In [1]:
import pandas as pd

In [6]:
outorgas = pd.read_csv('outorgas.csv', encoding='utf8')

,Processo Outorga,Portaria,Data de Publicação,Data de Vencimento da Portaria,Status Processo,Empreendedor,CPF_CNPJ Empreendedor,Endereço Empreendedor,Número Empreendedor,Complemento Empreendedor,...,Num_FOB,Ano_FOB,OBS_VALOR_COBRANCA,VALOR_LICENCIAMENTO,VALOR_ANALISE,VALOR_IGAM,VALOR_LICENCIAMENTO_IEF,Unidade de Análise,Natureza_Outorga,Portaria_Renovada_Retificada
0,15106/2009,NaN,NaN,NaN,AUTORIZAÇÃO DE PERFURAÇÃO CONCEDIDA,PREFEITURA MUNICIPAL DE FELÍCIO DOS SANTOS,17754201000187,RUA FELICIANO CANUTO,73,NaN,...,694167,2009,NaN,0.0,0.0,69.0,0.0,SUPRAMJEQUI,Novo Processo,NaN
1,04343/2008,NaN,NaN,NaN,AUTORIZAÇÃO DE PERFURAÇÃO CONCEDIDA,COMPANHIA DE SANEAMENTO DE MINAS GERAIS - COPASA,37597200837,RUA MAR DE ESPANHA,453,NaN,...,283295,2008,NaN,0.0,0.0,69.0,0.0,DVRC-TEC,Novo Processo,NaN
2,04362/2008,NaN,NaN,NaN,AUTORIZAÇÃO DE PERFURAÇÃO CONCEDIDA,COMPANHIA DE SANEAMENTO DE MINAS GERAIS - COPASA,37597200837,RUA MAR DE ESPANHA,453,NaN,...,289658,2008,NaN,0.0,0.0,69.0,0.0,DVRC-TEC,Novo Processo,NaN
3,04363/2008,NaN,NaN,NaN,AUTORIZAÇÃO DE PERFURAÇÃO CONCEDIDA,COMPANHIA DE SANEAMENTO DE MINAS GERAIS - COPASA,37597200837,RUA MAR DE ESPANHA,453,NaN,...,289679,2008,NaN,0.0,0.0,69.0,0.0,DVRC-TEC,Novo Processo,NaN
4,09152/2009,NaN,NaN,NaN,AUTORIZAÇÃO DE PERFURAÇÃO CONCEDIDA,COMPANHIA DE SANEAMENTO DE MINAS GERAIS - COPASA,37597200837,RUA MAR DE ESPANHA,453,NaN,...,246342,2009,NaN,0.0,0.0,138.0,0.0,DVRC-TEC,Novo Processo,NaN

In [ ]:
outorgas.head()

In [4]:
print(outorgas.shape)
for col in outorgas.columns:
    print(col)

print(outorgas['Vazao Jan'].head())
print(outorgas['Tipo'].unique())

print(outorgas.filter(items=['Tipo', 'Vazao Jan'])
    .groupby('Tipo')
    .sum())

(131, 110)